<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDr_c_-_uL_hhnVsefXcRC4R866rjZKOYs</string>
	<key>GCM_SENDER_ID</key>
	<string>738051321837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safetygeardetectionsystem.app.testProject</string>
	<key>PROJECT_ID</key>
	<string>safety-gear-detection-system</string>
	<key>STORAGE_BUCKET</key>
	<string>safety-gear-detection-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738051321837:ios:d54ab7a9e2548a6891c1e4</string>
</dict>
</plist>